{% extends "games/game.html" %}
{% block title %}Playing Blackjack{% endblock %}

{% block playerInput %}

    <h2>Choose your move</h2>

    <p>Select Hit to receive another card or Stay to end your turn</p>

    <form 
        method="post"
        action="{{ url_for('games.playing') }}"
        class = "game-buttons">

        <button
            type="submit"
            name="playerChoice"
            value="Hit"
            >
            Hit
            </button>

        <button
            type="submit"
            name="playerChoice"
            value="Stay"
            >
            Stay
            </button>
        
    </form>

{% endblock %}
