{% extends 'base.html' %}

{% block content %}

<table>
    <tr>
        <th>User Name</th>
        <th>Chip Balance</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
    </tr>
{% for p in board %}
    <tr>
        <td>{{p['username']}}</td>
        <td>{{p['score']}}</td>
        <td>{{p['wins']}}</td>
        <td>{{p['losses']}}</td>
        <td>{{p['ties']}}</td>
    </tr>
{% endfor %}

</table>

          <a href="{{ url_for('welcome') }}" class="button">
            Welcome Page
        </a>

{% endblock %}