{% extends 'base.html' %}

{% block content %}

<table class="lbTable">
    <tr>
        <th class="lbHeader">User Name</th>
        <th class="lbHeader">Chip Balance</th>
        <th class="lbHeader">Wins</th>
        <th class="lbHeader">Losses</th>
        <th class="lbHeader">Ties</th>
    </tr>
{% for p in board %}
    <tr>
        <td class="lbItem">{{p['username']}}</td>
        <td class="lbItem">{{p['score']}}</td>
        <td class="lbItem">{{p['wins']}}</td>
        <td class="lbItem">{{p['losses']}}</td>
        <td class="lbItem">{{p['ties']}}</td>
    </tr>
{% endfor %}

</table>

          <a href="{{ url_for('welcome') }}" class="button" id="lbReturn">
            Welcome Page
        </a>

{% endblock %}